[mysqld]
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
max_allowed_packet = 100MB
transaction-isolation = READ-COMMITTED
symbolic-links = 0
slow_query_log = 1
slow_query_log_file = '/var/log/mysqld-slow.log'
innodb_file_per_table
character-set-server = utf8mb4
collation-server = utf8mb4_bin
skip-character-set-client-handshake
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4
